@model IEnumerable<EMS_ENTITIES.Registration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegistrationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegistrationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegistrationID })
        </td>
    </tr>
}

</table>
